@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

html, body {
  height: 100%;
  font-size: 18px;
}